/* ==================== VARIABLES ==================== */
:root {
    --white-background-color: #fcfcff;

    --default-color: #201236;
    --shadow-color: #20123673;

    --primary-color: #6855E7;
    --secondary-color: #4F40AE;
    --tertiary-color: #DFDFFF;

    --gradient-light-color: #999AF9;
    --gradient-dark-color: #786CED; 

    --action-color-default: #ADD11C;
    --action-color-hover: #85A30C;
    --action-color-disabled: #999999;

    --alert-color: #ff0a47;

    --page-width: 100%;
}

/* ==================== BACKGROUND STYLES  ==================== */
.white-background { background-color: var(--white-background-color); }
.default-gradient-background { background: linear-gradient(to bottom, var(--gradient-light-color), var(--gradient-dark-color)); }
.transparent-background { background:rgba(0, 0, 0, 0);}
.image-background {
    background-image: url('../assets/stuffedpals_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-parallax {
    background-attachment: fixed;
}

.default-box-shadow, .hover-box-shadow {
    box-shadow: 0px 4px 8px var(--shadow-color);
}
.hover-box-shadow {
    transition: transform 0.5s ease-out, box-shadow 0.3s ease-in-out; 
}
.hover-box-shadow:hover {
    box-shadow: 0px 10px 8px var(--shadow-color);
    transform: translateY(-5px); 
}

/* ATTRIBUTES HIERARCHY
Top->Right->Bottom->Left
- Positioning (position, z-index, top, right)
- Display & Box Model (display, overflow, width, height, padding, border, margin)
- Color (background, text-color)
- Text (font-family, font-weight, font-size, line-height, text-align)
- Other (cursor, transition, animation)
*/

/* ==================== PAGE COMPONENTS ==================== */
body {
    padding: 0px;
    margin: 0px;

    background-color: var(--tertiary-color);
    color: var(--default-color);

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
}
main {
    width: 100%;
}

header {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
}
.header-content {
    width: 40%;
    padding: 2%;
    margin: auto;
    text-align: center;
}
@media (max-width: 1200px) {
    header {
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .header-content {
        width: 90%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .header-content h1,
    .header-content h3 {
        width: 90%;
        margin: auto;
    }
}

.section-rows,
.section-columns {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
}
.section-rows {
    flex-direction: row;
}
.section-columns {
    flex-direction: column;
}

img {
    display: block; 
    object-fit: cover;
    border-radius: 7px;
}

ul {
    padding-left: 25px;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    height: 1px;
    border: none;

    background-color: var(--tertiary-color);
}
hr.outer {
    height: 2px;
}

.alert {
    color: var(--alert-color) !important;
    font-weight: bold !important;
}

.round-corners {
    border-radius: 15px;
}

/* ========== NAVBAR ========== */
nav .section-content-col {
    display: flex;
    justify-content: center;
    gap: 5%;
}

nav {
    position: sticky;
    z-index: 9998;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    width: 94%;
    height: 65px;
    padding: 10px 3% 10px 3%;
    border-bottom: 1px solid var(--tertiary-color);
}
nav .section-content-col {
    width: 25%;
    min-width: 200px;
}
#links-section {
    width: 35%;
}
#links-section a { font-size: calc(23px + 0.2vw); }

#logo-section img,
#logo-section a {
    width: 90%;
    min-width: 200px;
}
#user-section a {
    width: calc(25px + 0.5vw);
    height: calc(25px + 0.5vw);
}
#user-section img {
    width: 100%;
}

@media (max-width: 850px) {
    nav {
        width: 96%;
        height: unset;
        padding: 5px 2% 5px 2%;
    }
    #links-section,
    #user-section {
        width: 100%;
        flex-basis: 50%; 
        order: 2;
    }
    #links-section {
        justify-content: flex-start;
        font-size: 20px;
        flex-basis: 60%;
    }
    #links-section .hyperlink_text {
        width: 32%;
    }
    #user-section {
        flex-basis: 15%;
        justify-content: flex-end;
        gap: 15%;
    }

    #logo-section {
        width: 100%; 
        order: 1; 
        justify-content: center;
        margin: auto auto 20px auto;
    }

    #logo-section a {
        width: 70%;
    }
    #logo-section img {
        width: 90%;
        min-width: 150px;
        margin: auto;
    }
    nav .section-content-col {
        min-width: unset;
        gap: 7%;
    }
}

/* ========== FOOTER ========== */
footer {
    width: 100%;
    border-top: 1px solid var(--tertiary-color);
    padding-top: 20px;
    padding-bottom: 10px;
}
footer h3 {
    color: var(--primary-color);
}

footer .hyperlink_text {
    display: inline;
}

footer .section-content {
    width: 70% !important;
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
    margin: auto;
}

footer .section-content-header img,
footer .section-content-header a  {
    width: 80%;
    height: auto;
}
footer .section-content-header {
    width: 25%;
}
footer .section-content-col {
    width: 15%;
}

footer .section-content-col h4 {
    margin: 5px 0px 5px 0px;
}
footer .section-footer {
    text-align: center;
}
#responsive-text {
    display: none;
}

@media (max-width: 800px) {
    footer .section-content {
        width: 90%;
        flex-direction: column;
        gap: 8px;
    }
    footer .section-content-header img,
    footer .section-content-header a {
        margin: auto;
    }

    footer .section-content-header,
    footer .section-content-col,
    footer .section-footer  {
        width: 90%;
        text-align: center;
    }
    #full-text {
        display: none;
    }
    #responsive-text {
        display: block;
    }
}

/* ==================== FONTS ==================== */
/* WEIGHT HIERARCHY:
- 900, h1 - Main header or phrase of the page
- 800, h2 - Subheader, header or phrase of the section
- 700, h3 - HYPERLINK and BUTTON font, text after header/subheader, subsubheader
- 600, h4 - More important than span, PRODUCT NAME and PRICE font, 
- 500, span - Default text (eg. product description)
*/

h1, h2, h3, h4, span, p {
    margin-top: 5px;
    margin-bottom: 5px; 
    color: var(--default-color); 
}
h1 { 
    font-weight: 900;
    font-size: 55px; }
h2 { 
    color: var(--primary-color);
    font-weight: 800;
    font-size: 35px; }
h3 { 
    font-weight: 700;
    font-size: 21px; }
h4 { 
    font-weight: 600;
    font-size: 18px; }
span,
p {
    font-weight: 500; 
    font-size: 17px; }

h3.highlighted,
h4.highlighted,
span.highlighted {
    font-weight: 700;
    font-size: 21px;
    color: var(--primary-color);
}

/* ==================== FORM ==================== */
.form-section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    text-align: left;
}

.form-field input,
.form-field textarea,
.form-field select {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.form-field textarea {
    width: 100%;
    height: 100px;
    resize: none;
}
.form-field select,
.form-field input {
    width: 100%;
    height: calc(30px + 0.2vw);
}
.form-field input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 10px 0px 10px 0px;
}

label[for='password-field'] {
    position: relative;
}
label[for='password-field'] img {
    position: absolute;
    right: 10px;
    top: calc(25px + (30px + 0.2vw) - 3px); 
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.form-result {
    width: 100%;
    color: var(--primary-color);
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-extra-information {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}
/* ==================== HYPERLINKS AND BUTTONS ==================== */
a, button {
    text-align: center;
}
/* ========== QUANTITY BUTTON ========== */
.decrease-quantity-button,
.increase-quantity-button,
.product-quantity-button {
    width: 30% !important;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.decrease-quantity-button,
.increase-quantity-button {
    font-size: 25px;
}
.decrease-quantity-button {
    border-right: none !important;
}
.increase-quantity-button {
    border-left: none !important;
}
.product-quantity-button {
    border: 2px solid var(--action-color-default);
    font-size: 20px;
}
.product-quantity-button::-webkit-inner-spin-button,
.product-quantity-button::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* ========== HYPERLINKS ========== */
.hyperlink_text, .hyperlink_text:visited,
.hyperlink_icon, .hyperlink_icon:visited {
    position: relative;

    color: var(--default-color);
    text-decoration: none;

    transition: opacity 0.3s ease;
}
.hyperlink_text, .hyperlink_text:visited {
    display:inline-block;

    overflow: hidden;
    margin: 0 auto;

    font-weight: 700;
    text-align: center;
}
.hyperlink_text::before,
.hyperlink_text:hover::before {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 2px;

    background-color: var(--action-color-default);
    content: "";

    transition: width 0.3s ease;
}
.hyperlink_text::before { width: 0%; }
.hyperlink_text:hover::before { width: 100%; }
.hyperlink_icon:hover { opacity: 0.5; }

/* ========== DEFAULT BUTTON / DEFAULT INACTIVE BUTTON ========== */
.hyperlink_button, 
.hyperlink_button:visited,
.hyperlink_button_inactive, 
.hyperlink_button_inactive:visited {
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 200px;  
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;  
    border-radius: 3px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;  
}

.hyperlink_button, 
.hyperlink_button:visited {
    color: var(--white-background-color);

    transition: background-color 0.3s ease; 
    cursor: pointer;
}
.hyperlink_button, 
.hyperlink_button:visited { background-color: var(--action-color-default);  }
.hyperlink_button:hover,
.hyperlink_button.focused { background-color: var(--action-color-hover);  }

.hyperlink_button_inactive, 
.hyperlink_button_inactive:visited {
    background-color: var(--action-color-disabled);

    color: var(--white-background-color);
}
.hyperlink_button_inactive:hover { background-color: var(--action-color-disabled);  }

.hyperlink_button.focused {
    pointer-events: none;
}

/* ========== REVERSE BUTTON / REVERSE INACTIVE BUTTON ========== */
.hyperlink_button_reverse, 
.hyperlink_button_reverse:visited,
.hyperlink_button_reverse_inactive,
.hyperlink_button_reverse_inactive:visited {
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 200px;  
    height: 50px; 
    margin-top: 10px;
    margin-bottom: 10px; 
    border-radius: 3px;

    box-sizing: border-box;
    background-color:rgba(0, 0, 0, 0);

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;  
}

.hyperlink_button_reverse, 
.hyperlink_button_reverse:visited {
    border: 2px solid var(--action-color-default);

    color: var(--action-color-default); 

    transition: border 0.3s ease, color 0.3s ease; 
    cursor: pointer;
}
.hyperlink_button_reverse:hover { 
    color: var(--action-color-hover);
    border: 2px solid var(--action-color-hover);
}

.hyperlink_button_reverse_inactive,
.hyperlink_button_reverse_inactive:visited,
.hyperlink_button_reverse_inactive:hover {
    color: var(--action-color-disabled); 
    border: 2px solid var(--action-color-disabled);
}
/* ==================== LOADING ANIMATION ==================== */
.dots-5 {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: d5 1s infinite linear alternate;
  }
  @keyframes d5 {
      0%  {box-shadow: 20px 0 var(--white-background-color), -20px 0 #0002;background: var(--white-background-color) }
      33% {box-shadow: 20px 0 var(--white-background-color), -20px 0 #0002;background: #0002}
      66% {box-shadow: 20px 0 #0002,-20px 0 var(--white-background-color); background: #0002}
      100%{box-shadow: 20px 0 #0002,-20px 0 var(--white-background-color); background: var(--white-background-color) }
  }
/* ==================== INDEX ==================== */
#index-page .header-content .hyperlink_button {
    width: 60%;
    margin: 4% auto auto auto;
}
#index-page .header-content h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#index-page .header-content h3 {
    margin-top: 10px;
}

.text_slider {
    overflow: hidden;
    height: 66px; 
}
.text_slider_element {
    position: relative; 
    height: 66px;
    animation: text-animation 10s ease infinite;
}
.text_slider_element h1 {
    color: var(--primary-color);
}

@keyframes text-animation {
    0%, 100% { top: 0; }
    12.5% { top: 0; }
    25% { top: -66px;}
    37.5% { top: -66px;}
    50% { top: -132px; }
    62.5% { top: -132px;}
    75% { top: -66px; }
    87.5% { top: -66px;}
}

#introduction-section {
    width: 70%;
    gap: 5%;
}
#introduction-section div,
#introduction-section img { 
    width: 35%;
}

@media (max-width: 1500px) {
    #introduction-section {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
@media (max-width: 1000px) {
    #introduction-section {
        flex-direction: column-reverse;
        width: 90%;
        text-align: center;
    }
    #introduction-section div {
        width: 90%;
    }
    #introduction-section img {
        width: 25%;
        min-width: 125px;
    }
    #introduction-section .hyperlink_button {
        width: 70%;
        margin: 2% auto 2% auto;
    }
}

#collection-section {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
#collection-section > h1 {
    color: var(--tertiary-color);
}
#collection-section .section-rows {
    width: 90%;
    gap: 5%;
    margin: 2% auto auto auto;
}

#collection-section .section-rows a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    max-width: 250px;
    aspect-ratio: 1/1;
    
    background-size: cover;
    opacity: 0.8;

    text-align: center;  
    transition: border-radius 0.3s ease, opacity 0.3s ease;
}
#collection-section .section-rows a h2 {
    color: var(--default-color);
    transition: color 0.3s ease;
}
#collection-section .section-rows a:hover {
    border-radius: 50%;
    opacity: 1;
}
#collection-section .section-rows a:hover h2 {
    color: var(--alert-color);
}

#bases-category {
    background-image: url('../assets/products/base_rabbit.png');
}
#clothes-category {
    background-image: url('../assets/products/clothes_1.jpg');
}
#accessories-category {
    background-image: url('../assets/products/accessories_5.png');
}

@media (max-width: 1000px) {
    #collection-section .section-rows h2 {
        font-size: calc(18px + 0.1vw);
    }
}

/* ==================== ABOUT US ✔ ==================== */
#reverse-order {
    flex-direction: row-reverse;
}

#about-section {
    gap: 1%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#about-section > div {
    width: 40%;
}
#about-section img,
#about-section .hyperlink_button {
    width: 35%;
}
#about-section img {
    max-width: 450px;
    aspect-ratio: 1/1;
}
#about-section h2 {
    color: var(--white-background-color);
}

#our-mission-section {
    width: 60%;
    padding-top: 2%;
    margin: auto;
    text-align: center;
}

#values-section {
    gap: 30px;
    width: 80%;
    padding: 2%;
}
#values-section .section-element {
    padding: 1%;
    gap: 2%;
}
#values-section .section-element > span {
    width: 45%;
}
#values-section  .section-element > img  {
    width: 35%;
}

@media (max-width: 950px) {
    #about-section {
        flex-direction: column;
        text-align: center;
    }
    #about-section > div {
        width: 80%;
    }
    #about-section img {
        display: none;
    }
    #about-section .hyperlink_button {
        width: 100%;
    }

    #our-mission-section {
        width: 80%;
    }

    #values-section .section-element,
    #values-section .section-element > span,
    #values-section  .section-element > img {
        width: 90%;
    }
    #values-section .section-element {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    } 
}

/* ==================== CUSTOMER SERVICE ✔ ==================== */
#contact-section {
    gap: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#contact-section > img {
    width: 30%;
    max-width: 400px;
    aspect-ratio: 1/1;
}
#contact-section .contact-information {
    align-items: flex-start;
    width: 43%;
    min-width: 650px;
    padding: 1% 2% 1% 2%;
    margin: 0px;
}
#contact-section .contact-information > .section-rows,
#contact-section .contact-information .section-element h4,
#contact-section .contact-information .section-element-title {
    width: 100%;
}
#contact-section .contact-information > .section-rows {
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2%;
}

#contact-section .contact-information .section-element,
#contact-section .contact-information .section-element h4 {
    text-align: left;
}
#contact-section .contact-information .section-element,
#contact-section .contact-information .section-element-title {
    justify-content: flex-start;
}
#contact-section .contact-information .section-element {
    width: 32%;
    margin: 0px;
}
#contact-section .contact-information .section-element-title {
    align-items: center;
    gap: 3%;
}
#contact-section .contact-information .section-element-title img {
    width: 15%;
    min-width: 40px;
    max-width: 50px;
    aspect-ratio: 1/1;
}

@media (max-width: 1050px) {
    #contact-section {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #contact-section > img {
        display: none;
    } 
}
@media (max-width: 700px) {
    #contact-section > img {
        display: none;
    }
    #contact-section .contact-information {
        align-items: center;
        width: 90%;
        min-width: unset;
        text-align: center;
    }
    #contact-section .contact-information > .section-rows{
        flex-direction: column;
    }
    #contact-section .contact-information .section-element {
        width: 100%;
    }
    #contact-section .contact-information .section-element-title {
        justify-content: center;
    }
    #contact-section .contact-information .section-element h4 {
        text-align: center;
    }
}

#faq-section {
    width: 65%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
}
#faq-section .section-element {
    width: 100%;
}
#faq-section .section-element-title {
    justify-content: space-between; 
    margin-right: 2%;
    cursor: pointer;
}
#faq-section .section-element-title:after {
    font-size: 13px;
    content: '\02795';
}
#faq-section .active-faq:after {
    content: "\2796";
}
#faq-section .section-element-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in, opacity 0.5s ease-in, padding-top 0.5s ease-in, padding-bottom 0.5s ease-in;
}
#faq-section .section-element-content.open {
    max-height: 1000px;
    padding-top: 2%;
    opacity: 1;
} 

@media (max-width: 1050px) {
    #faq-section {
        width: 90%;
    }
}

#contact-form-section {
    justify-content: space-between;
    width: 65%;
    padding-bottom: 2%;
}
#contact-form-section .section-title {
    width: 45%;
}
#contact-form {
    width: 50%;
} 
#contact-form .form-result {
    width: 100%;
    height: 20px;
}

@media (max-width: 1050px) {
    #contact-form-section {
        width: 90%;
    }
}
@media (max-width: 700px) {
    #contact-form-section {
        flex-direction: column;
        gap: 10px;
    }
    #contact-form-section .section-title,
    #contact-form,
    #contact-form .hyperlink_button {
        width: 100%;
    }
}

/* ==================== SHOP PAGE ✔ ==================== */
#shop-page main {
    gap: 2%;
    align-items: flex-start;
}

#filters-section {
    width: 17%;
    padding: 1%;
}
#sort-filters,
#sort-filters .section-columns,
#category-filters,
#category-filters .section-columns,
#supplier-filters,
#supplier-filters .section-columns,
#availability-filters,
#availability-filters .section-columns,
#price-filters,
#price-filters .section-columns {
    align-items: flex-start;
    width: 100%;
}
#price-filters .section-columns input {
    width: 33%;
}

#filters-section .hyperlink_button,
#filters-section .hyperlink_button_reverse {
    width: 100%;
    height: calc(30px + 0.1vw);
    font-size: calc(18px + 0.1vw)
}

#product-display-section {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1.3%;
    width: 75%;
    height: auto;
}
#product-display-section .section-element {
    margin-top: 10px;
    margin-bottom: 10px;
}
#product-display-section .section-element img {
    width: 100%;
    aspect-ratio: 1/1; 
    padding: 0px;
}
#product-display-section .section-element .hyperlink_button,
#product-display-section .section-element .hyperlink_button_inactive {
    width: 60%;
}
#product-display-section .section-element .product-name {
    display: flex;
    align-items: center;
    width: 90%;
    height: 90px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 25px;   
}
#product-display-section .section-element form {
    justify-content: space-between;
    width: 85%;
}
#product-display-section .section-element .form-result {
    width: 90%;
    text-align: center;
}

@media (max-width: 1250px) {
    #shop-page main {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    /* Filters wrapping */
    #filters-section {
        width: 95%;
        padding: 2.5%;
    }
    #responsive-filters {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    #sort-filters,
    #sort-filters .section-columns,
    #category-filters,
    #category-filters .section-columns,
    #supplier-filters,
    #supplier-filters .section-columns,
    #availability-filters,
    #availability-filters .section-columns {
        align-items: flex-start;
        width: unset;
        margin: 0px;
    }
    #price-filters,
    #price-filters .section-columns {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    #filters-section .hyperlink_button,
    #filters-section .hyperlink_button_reverse {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    #product-display-section {
        grid-template-columns: repeat(3,1fr);   
    }
}
@media (max-width: 900px) {
    #product-display-section {
        grid-template-columns: repeat(3,1fr); 
        width: 90%;  
    }
    #responsive-filters {
        flex-direction: column;
    }
}
@media (max-width: 750px) {
    #product-display-section {
        grid-template-columns: repeat(2,1fr);   
    }
}
@media (max-width: 540px) {
    #product-display-section {
        grid-template-columns: 1fr;
        width: 70%;;
    }
    #product-display-section .section-element .product-name {
        height: 60px;
    }
    #product-display-section .section-element .product-price {
        font-size: 27px;
    }
}

/* ==================== PRODUCT PAGE ✔ ==================== */
#product-page main > .section-rows {
    justify-content: center;
    align-items:flex-start;
    gap: 1%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media (max-width: 1150px) {
    #product-page main > .section-rows {
        flex-direction: column;
        gap: 10px;
    }
}

/* ========== PRODUCT IMAGES ========== */
#product-page .section-images {
    gap: 10px;
    width: 25%;
    margin: 0px;
}
#product-page .section-images .image-displayer {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1/1; 
    overflow: hidden;
}
#product-page .section-images .image-displayer-slider,
#product-page .section-images .image-displayer-slider img {
    height: 100%;
}
#product-page .section-images .image-displayer-slider {
    justify-content: flex-start;
    transition: transform 0.3s ease; 
}
#product-page .section-images .image-carousel {
    justify-content: flex-start;
    gap: 1%;
    width: 100%;
    max-width: 500px;
    margin: 0px;
}
#product-page .section-images .image-carousel img {
    width: 20%;
    max-width: 125px;
    aspect-ratio: 1/1; 
    transition: opacity 0.3s ease;
}
#product-page .section-images .image-carousel img:hover {
    opacity: 1 !important;
}
#product-page .section-images .image-carousel .icon-focused {
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
}
#product-page .section-images .image-carousel .active {
    transition: none;
}

@media (max-width: 1150px) {
    #product-page .section-images {
        width: 90%;
        margin: auto;
    }
}
/* ========== PRODUCT DESCRIPTION ========== */
#product-page .section-content {
    width: 40%;
}
#product-page .section-action {
    width: 100%;
}
#product-page .section-action .section-rows {
    justify-content: flex-start;
    gap: 1%;
}
#product-page .section-action .quantity-button,
#product-page button[name="add-to-cart-button"] {
    width: 27%;
    margin: 0px;
}
#product-page .section-action .quantity-button {
    gap: 0px;
}

@media (max-width: 1150px) {
    #product-page .section-content {
        width: 90%;
        margin: auto;
    }
    #product-page .section-action .quantity-button,
    #product-page button[name="add-to-cart-button"] {
        width: 20%;
    }
}
@media (max-width: 700px) {
    #product-page .section-action .quantity-button {
        width: 30%;
    }
    #product-page button[name="add-to-cart-button"] {
        width: 60%;
    } 
}
/* ==================== CART ✔ ==================== */
#cart-page main {
    align-items: flex-start;
    gap: 1%;
    padding-top: 2%;
    padding-bottom: 2%;

}
#cart-page .product-cart-displayer {
    width: 65%;
}
#cart-page .product-cart-displayer .section-header .section-rows,
#cart-page .product-cart-displayer .section-element {
    justify-content: space-between;
    width: 100%;
}
#cart-page .product-cart-displayer .product-image {
    width: 8%;
    text-align: center;
}
#cart-page .product-cart-displayer .product-image img {
    aspect-ratio: 1/1; 
}
#cart-page .product-cart-displayer .product-title,
#cart-page .product-cart-displayer .product-price,
#cart-page .product-cart-displayer .product-total-price,
#cart-page .product-cart-displayer .quantity-button,
#cart-page .product-cart-displayer .remove-button,
#cart-page .product-cart-displayer .remove-button .hyperlink_button_reverse {
    width: 15%;
    margin: auto;
    text-align: center;
}
#cart-page .product-cart-displayer .product-title {
    width: 20%;
}
#cart-page .product-cart-displayer .remove-button,
#cart-page .product-cart-displayer .remove-button .hyperlink_button_reverse {
    width: 5%;
}
#cart-page .product-cart-displayer .remove-button .hyperlink_button_reverse {
    aspect-ratio: 1/1; 
}

#cart-page .product-cart-checkout {
    position: sticky;
    z-index: 9997;
    top: 86px;
    left: 0;
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0px;
}
#cart-page .product-cart-checkout h1,
#cart-page .product-cart-checkout .section-rows,
#cart-page .product-cart-checkout .hyperlink_button {
    width: 90%;
}
#cart-page .product-cart-checkout .section-rows {
    justify-content: space-between;
}

#checkout-empty {
    width: 50%;
    margin: auto;
    text-align: center;
}
#checkout-empty img {
    width: 30%;
    min-width: 200px;
    margin: auto;
}
#checkout-empty .hyperlink_button {
    width: 50%;
    margin: auto;

}

@media (max-width: 1150px) {
    #cart-page main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0px;
    }
    #cart-page .product-cart-displayer {
        width: 90%;
    }
    #cart-page .product-cart-displayer .product-image,
    #cart-page .product-cart-displayer .product-image img {
        display: none;
    }
    #cart-page .product-cart-displayer .product-title,
    #cart-page .product-cart-displayer .product-price,
    #cart-page .product-cart-displayer .product-total-price,
    #cart-page .product-cart-displayer .quantity-button {
        font-size: calc(16px + 0.1vw);  
    }
    #cart-page .product-cart-displayer .quantity-button {
        width: 20%;
    }
    #cart-page .product-cart-displayer .remove-button,
    #cart-page .product-cart-displayer .remove-button .hyperlink_button_reverse {
        width: 8%;
    }

    #cart-page .product-cart-checkout {
        width: 100%;
    }
}
/* ==================== USER LOGIN / REGISTER ✔ ==================== */
#user-account-page .form-field input,
#user-account-page .hyperlink_button {
    width: 100%;
}
#user-account-page .form-field input {
    height: calc(30px + 0.2vw);
}
#user-register-form,
#user-login-form {
    width: 30%;
    margin: auto;
}

@media (max-width: 1000px) {
    #user-register-form,
    #user-login-form  {
        width: 80%;
    }
}
/* ==================== USER PROFILE ✔ ==================== */
#user-profile-page .section-rows,
#user-profile-option {
    width: 50%;
}
#user-profile-page .section-rows {
    justify-content: space-between;
    padding-top: 1%;
}
#user-profile-page .section-rows .hyperlink_button {
    width: 49%;
}
#user-profile-option {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
}

@media (max-width: 900px) {
    #user-profile-page .section-rows,
    #user-profile-option {
        width: 90%;
    }
    #user-profile-page .section-rows {
        flex-direction: column;
    }
    #user-profile-page .section-rows .hyperlink_button {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    } 
}

#user-profile-details,
#user-profile-details .section-element {
    width: 100%;
}
#user-profile-details .form-section {
    justify-content: flex-start;
    padding: 0px;
}

#user-delete-form {
    color: var(--primary-color);
}

/* ========== SHIPPING ADDRESS ========== */
#user-profile-address,
#user-profile-address .section-columns {
    width: 100%;
}
#user-profile-address .section-columns {
    gap: 10px;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#user-profile-address .section-element .section-rows,
#user-profile-address .section-element .buttons-section {
    width: 90%;
    padding: 0px;
    margin: auto;
}
#user-profile-address .section-element .section-rows {
    justify-content: space-between;
}
#user-profile-address .section-element .buttons-section {
    gap: 0px;
}
#user-profile-address .section-element .buttons-section .section-rows {
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

#user-profile-address .section-element .buttons-section .hyperlink_button,
#user-profile-address .section-element .buttons-section .hyperlink_button_reverse {
    width: 25%;
}
#user-profile-address-empty {
    width: 100%;
    text-align: center;
}
#user-profile-address-empty img {
    width: 30%;
    height: auto;
}

@media (max-width: 900px) {
    #user-profile-address .section-element .section-rows {
        align-items: flex-start;
    }
    #user-profile-address .section-element .buttons-section .section-rows {
        flex-direction: row;
        align-items:  center;
    }
}
@media (max-width: 600px) {
    #user-profile-address .section-element .buttons-section .section-rows {
        justify-content: space-between;
    }
    #user-profile-address .section-element .buttons-section .hyperlink_button,
    #user-profile-address .section-element .buttons-section .hyperlink_button_reverse {
        width: 48%;
    }
}
/* ==================== ADD ADDRESS PAGE / EDIT ADDRESS PAGE ✔ ==================== */
#user-address-page .form-section {
    width: 35%;
}
#user-address-page #user-address-form,
#user-address-page #user-address-form input,
#user-address-page #user-address-form select,
#user-address-page .hyperlink_button {
    width: 100%;
}

@media (max-width: 1000px) {
    #user-address-page .form-section {
        width: 80%;
    }
}
/* ==================== CHECKOUT PAGE ✔ ==================== */
#checkout-page main {
    display: flex;
    align-items: stretch;
    gap: 1%;
}
#checkout-page :is(.form-section, .details-section) {
    padding-top: 50px;
    padding-bottom: 50px;
}
/* ========== FORM SECTION ========== */
#checkout-page .form-section {
    width: 50%;
    margin: auto;
}

#checkout-page #user-address-form {
    width: 60%;
}
#checkout-page .form-section h2 {
    margin-top: 10px;
}

#checkout-page .form-section .hyperlink_button {
    width: 100%;
}
/* ========== DETAILS SECTION ✔ ========== */
#checkout-page .details-section {
    width: 45%;
}
#checkout-page .details-section h1,
#checkout-page .details-section h3,
#checkout-page .details-section h4,
#checkout-page .details-section span {
    color: var(--tertiary-color);
}

#checkout-page .details-section .section-content,
#checkout-page .details-section .section-footer,
#checkout-page .details-section hr {
    width: calc(100% - 20px);
}

#checkout-page .details-section .section-content,
#checkout-page .details-section .section-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}
#checkout-page .details-section .section-row {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
#checkout-page .details-section .section-content .section-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
#checkout-page .details-section .section-content .section-row img {
    width: 13%;
    height: 13%;
    border: 1px solid var(--tertiary-color);
}
#checkout-page .details-section .section-content .section-row span {
    width: 65%;
}
#checkout-page .details-section .section-content .section-row h4 {
    width: 20%;
    text-align: right;
}
#checkout-page .details-section .section-footer .section-row {
    justify-content: space-between;
}

@media (max-width: 1000px) {
    #checkout-page main {
        flex-direction: column;
    }
    #checkout-page :is(.form-section, .details-section) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #checkout-page .form-section {
        width: 90%;
    }
    #checkout-page #user-address-form {
        width: 80%;
    }
    #checkout-page .details-section {
        width: 100%;
    }
}
/* ==================== NEWSLETTER ✔ ==================== */
#newsletter,
#newsletter-form {
    width: 100%;
}
#newsletter {
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}
#newsletter .header-content {
    justify-content: space-between;
    width: 50%;
    text-align: left;
}
#newsletter .section-header {
    width: 50%;
}
#newsletter .form-section,
#newsletter-form .hyperlink_button {
    width: 50%;
}
#newsletter .form-section {
    padding: 0px;
}
#newsletter-form label[for="consent"] {
    justify-content: flex-start;
    gap: 1%;
}
#newsletter-form label[for="consent"] h4 {
    font-size: calc(16px + 0.1vw);
}

@media (max-width: 1400px) {
    #newsletter .header-content {
        width: 60%;
    }
}
@media (max-width: 1200px) {
    #newsletter .header-content {
        width: 75%;
        flex-direction: column;
        padding: 1%;
        text-align: center;
    }
    #newsletter .section-header,
    #newsletter .form-section {
        width: 90%;
    }
}
@media (max-width: 500px) {
    #newsletter .header-content {
        width: 90%;
    }
    #newsletter-form .hyperlink_button {
        width: 100%;
    }
}
/* ==================== OVERLAY ALERTS ✔ ==================== */
#overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
#overlay-content,
#overlay-buttons {
    margin: auto;
}
#overlay-content {
    width: 35%;
    height:fit-content;
    padding: 2%;
}
#overlay-buttons {
    display: flex;
    justify-content: space-between;
}
#overlay-buttons .hyperlink_button_reverse {
    width: 49%;
    margin-bottom: 0px;
}
#overlay-close {
    width: 100%;
    margin-bottom: 2px;
    margin-top: 20px;
}
@media (max-width: 1000px) {
    #overlay-content {
        width: 90%;
        padding: 2%;
    }  
}
/* ==================== ADMIN LOGIN PAGE ==================== */
#admin-account-page .form-field input,
#admin-account-page .hyperlink_button {
    width: 100%;
}
#admin-account-page .form-field input {
    height: calc(30px + 0.2vw);
}
#admin-login-form {
    width: 30%;
    margin: auto;
}

@media (max-width: 1000px) {
    #admin-login-form  {
        width: 80%;
    }
}


/* ==================== ADMIN DASHBOARD ==================== */
#admin-dashboard-page main .section-rows {
    width: 65%;
    justify-content: space-between;
}
#admin-dashboard-page main .section-rows .hyperlink_button {
    width: 32%;
}
#admin-logout-form .hyperlink_button_reverse {
    width: 60%;
    margin: 10px auto 10px auto;
}

#dashboard-option {
    width: 65%;
    margin: auto;
}

@media (max-width: 1050px) {
    #admin-dashboard-page main .section-rows {
        width: 90%;
    }
    #dashboard-option {
        width: 90%;
    }   
}
/* ========== ORDERS SECTION ========== */
#admin-order-section {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
}
#admin-order-section .empty {
    text-align: center;
}
#admin-order-section .section-header .section-information {
    width: 98%;
    padding: 0px 1% 0px 1%;
}
#admin-order-section .section-content .section-information {
    width: 100%;
    margin: 0px;
}

#admin-order-section .section-element {
    width: 98%;
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#admin-order-section .order-id,
#admin-order-section .order-total,
#admin-order-section .order-payment,
#admin-order-section .order-delivery,
#admin-order-section .order-date,
#admin-order-section .order-status {
    margin: auto;
    text-align: center;
}
#admin-order-section .order-id {
    width: 3%;
}
#admin-order-section .order-total,
#admin-order-section .order-payment,
#admin-order-section .order-delivery {
    width: 15%;
}
#admin-order-section .order-date {
    width: 10%;
}
#admin-order-section .order-status {
    width: 20%;
}
#admin-order-section .section-content {
    width: 100% !important;
}

#admin-order-section .section-details {
    justify-content: space-between;
    width: 98% !important;
    padding: 0px 1% 0px 1%;
    margin: 0px;
}
#admin-order-section .section-details .section-address {
    width: 35%;
    border-right: 1px solid var(--tertiary-color);
}
#admin-order-section .section-details .section-products {
    width: 65%;
}
#admin-order-section .section-details .section-products .section-element {
    justify-content: space-between;
    width: 100%;
    margin: 0px;
}
#admin-order-section .section-details .section-products .section-element .product-name,
#admin-order-section .section-details .section-products .section-element .product-quantity,
#admin-order-section .section-details .section-products .section-element .product-total {
    text-align: center;
}
#admin-order-section .section-details .section-products .section-element .product-name {
    width: 40%;
}
#admin-order-section .section-details .section-products .section-element .product-quantity  {
    width: 10%;
}
#admin-order-section .section-details .section-products .section-element .product-total {
    width: 20%;
}
@media (max-width: 800px) {
    #admin-order-section h3,
    #admin-order-section h4,
    #admin-order-section input {
        font-size: calc(15px + 0.1vw);
    }
    #admin-order-section .order-id,
    #admin-order-section .order-date {
        display: none;
    }
    #admin-order-section .section-details {
        flex-direction: column;
    }
    #admin-order-section .section-details .section-address,
    #admin-order-section .section-details .section-products,
    #admin-order-section .hyperlink_button {
        width: 100%;
    }
    #admin-order-section .section-details .section-address {
        border: none;
        border-bottom: 2px solid var(--tertiary-color);
    }
    #admin-order-section .section-details .section-products {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    #admin-order-section .section-details .section-products .section-element {
        padding: 0px;
    }
}

/* ========== USERS SECTION ========== */
#admin-user-section {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
}
#admin-user-section .empty {
    text-align: center;
}
#admin-user-section .section-element { 
    width: 98% !important;
    padding: 0px 1% 0px 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#admin-user-section .section-element .section-rows {
    width: 100%;
}

#admin-user-section .section-content {
    width: 100%;
}
#admin-user-section .section-information {
    justify-content: space-between;
    width: 98% !important;
    padding: 0px 1% 0px 1%;
    margin: 0px;
    text-align: center;
}
#admin-user-section .user-id,
#admin-user-section .user-login,
#admin-user-section .user-email,
#admin-user-section .user-date,
#admin-user-section .user-delete {
    text-align: center;
}

#admin-user-section .user-id {
    width: 3%;
}
#admin-user-section .user-login {
    width: 15%;
}
#admin-user-section .user-email {
    width: 20%;
}
#admin-user-section .user-date {
    width: 10%;
}
#admin-user-section .user-delete {
    width: 5%;
}
#admin-user-section .form-result {
    width: 100%;
}

@media (max-width: 1050px) {
    #admin-user-section h3 {
        font-size: calc(16px + 0.1vw);
    }
    #admin-user-section .user-id {
        display: none;
    }
    #admin-user-section h4 {
        font-size: calc(12.5px + 0.1vw); 
    }
    #admin-user-section .user-email {
        width: 45%;
    }
    #admin-user-section .user-delete {
        width: 10%;
    }
}

/* ========== PRODUCTS SECTION ========== */
#admin-product-section {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
}
#admin-product-section .empty {
    text-align: center;
}

#admin-product-section .section-element {
    width: 98%;
    padding: 0px 1% 0px 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#admin-product-section .section-information {
    justify-content: space-between;
    width: 100% !important;
    margin: 0px;
    text-align: center;
}

#admin-product-section .section-content .section-information {
    padding-top: 1%;
    padding-bottom: 1%;
}

#admin-product-section .product-image {
    width: 8%;
    text-align: center;
}
#admin-product-section .product-image img {
    aspect-ratio: 1/1;
}
#admin-product-section .product-name {
    width: 20%;
}
#admin-product-section .product-category,
#admin-product-section .product-supplier {
    width: 15%;
}
#admin-product-section .product-price,
#admin-product-section .product-quantity {
    width: 10%;
}

#admin-product-section .section-description {
    width: 100%;
}

#admin-product-section .section-buttons {
    justify-content: flex-start !important;
    width: 100% !important;
    gap: 1%;
    margin: 0px;
}
#admin-product-section .section-buttons .hyperlink_button {
    width: 35% !important;
}
#admin-product-section .section-buttons .hyperlink_button_reverse {
    width: 10%;
    aspect-ratio: 1/1;
} 

#admin-product-section .section-element .product-description,
#admin-product-section .section-element .product-image-path,
#admin-product-section .section-element .product-image-path textarea,
#admin-product-section .section-element .product-description textarea {
    width: 100%;
}
#admin-product-section .section-element .product-image-path textarea,
#admin-product-section .section-element .product-description textarea {
    height: 100px;
    resize: vertical; 
    overflow-x: hidden;
    overflow-y: auto; 
    white-space: pre-wrap;
    word-wrap: break-word; 
}
#admin-product-section .section-element .product-image-path textarea {
    height: 50px;
}

@media (max-width: 1050px) {
    #admin-product-section h3 {
        font-size: calc(15px + 0.1vw);
    }
    #admin-product-section .product-image {
        display: none;
    }
    #admin-product-section .product-name {
        width: 15%;
    }
    #admin-product-section,
    #admin-product-section input {
        font-size: calc(12.5px + 0.1vw);
    }

    #admin-product-section .section-buttons .hyperlink_button {
        width: 60% !important;
    }
    #admin-product-section .section-buttons .hyperlink_button_reverse {
        width: 15%;
        aspect-ratio: 1/1;
    } 
}

/* ========== ADD PRODUCTS SECTION SECTION ========== */
#admin-product-page #admin-product-section {
    width: 65%;
}
@media (max-width: 1050px) {
    #admin-product-page #admin-product-section {
        width: 90%;
    }  
}









