/* ==================== VARIABLES ==================== */
:root {
    --white-background-color: #ffffff;
    --light-blue-background-color: #e1f0fd;

    --default-color: #09080F;
    --default-hover-color: #414044;

    --primary-color: #8B5FE9;
    --secondary-color: #CB8AFF;
    --tertiary-color: #B2DAFF;
}

/* ATTRIBUTES HIERARCHY
Top->Right->Bottom->Left
- Positioning (position, z-index, top, right)
- Display & Box Model (display, overflow, width, height, padding, border, margin)
- Color (background, text-color)
- Text (font-family, font-weight, font-size, line-height, text-align)
- Other (cursor, transition, animation)
*/

/* ==================== PAGE COMPONENTS ==================== */
body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0px;
    margin: 0px;

    background-color: var(--light-blue-background-color);
    color: var(--default-color);

    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
main {
    width: 90%;
    padding-top: 80px;
}

img {
    display: block; 
    object-fit: cover;
    border-radius: 5px;
}

/* COLOR CLASSES */
.white_background { background-color: var(--white-background-color); }
.pink_blue_background { background: linear-gradient(to bottom, var(--secondary-color), var(--tertiary-color)); }
.blue_pink_background { background: linear-gradient(to bottom, var(--tertiary-color), var(--secondary-color)); }

/* WEIGHT HIERARCHY:
- 900, h1 - Main header or phrase of the page
- 800, h2 - Subheader, header or phrase of the section
- 700, h3 - HYPERLINK and BUTTON font, text after header/subheader, subsubheader
- 600, h4 - More important than span, PRODUCT NAME and PRICE font, 
- 500, span - Default text (eg. product description)
*/

h1, h2, h3, h4, span, p {
    margin-top: 5px;
    margin-bottom: 5px; 

    color: var(--main-color); 
}
h1 { 
    font-weight: 900;
    font-size: 55px; }
h2 { 
    color: var(--primary-color);
    font-weight: 800;
    font-size: 35px; }
h3 { 
    font-weight: 700;
    font-size: 21px; }
h4 { 
    font-weight: 600;
    font-size: 18px; }
span,
p {
    font-weight: 500; 
    font-size: 18px; }

/* HYPERLINKS */
.hyperlink_text, .hyperlink_text:visited,
.hyperlink_logo, .hyperlink_logo:visited,
.hyperlink_icon, .hyperlink_icon:visited {
    position: relative;

    color: var(--default-color);
    text-decoration: none;

    transition: opacity 0.3s ease;
}

.hyperlink_text, .hyperlink_text:visited {
    display: inline-block;

    overflow: hidden;
    margin: 0 auto;

    font-weight: 700;
    text-align: center;
}

.hyperlink_text::before,
.hyperlink_text:hover::before {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 2px;

    background-color: var(--default-color);
    content: "";

    transition: width 0.3s ease;
}

.hyperlink_text::before { width: 0%; }
.hyperlink_text:hover::before { width: 100%; }

.hyperlink_logo:hover { opacity: 0.9; }
.hyperlink_icon:hover { opacity: 0.5; }

.hyperlink_button_purple, 
.hyperlink_button_purple:visited,
.hyperlink_button_black, 
.hyperlink_button_black:visited {
    display: flex;
    justify-content: center;  
    align-items: center; 

    width: 200px;  
    height: 50px; 
    border: none;  
    border-radius: 3px;

    color: var(--white-background-color);

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;    

    transition: background-color 0.3s ease; 
    cursor: pointer;
}

.hyperlink_button_purple, 
.hyperlink_button_purple:visited { background-color: var(--secondary-color);  }
.hyperlink_button_purple:hover { background-color: var(--primary-color);  }

.hyperlink_button_black, 
.hyperlink_button_black:visited { background-color: var(--default-color); }
.hyperlink_button_black:hover { background-color: var(--default-hover-color); }

/* ==================== NAVBAR ==================== */
nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 215px;
    height: 80px;
    width: 100%;
}

.nav_hyperlink, .nav_logo, .nav_icons { width: 302px; height: 48px; }
.nav_hyperlink, .nav_icons { display: flex; justify-content: center; align-items: center; }
.nav_hyperlink { gap: 0px; }
.nav_hyperlink a { padding-top: 7px; font-size: 25px; }
.nav_logo img, .nav_logo a { width: 302px; height: 48px; }
.nav_icons img, .nav_icons a { width: 32px; height: 32px;}
.nav_icons { gap: 15px; }

/* ==================== INDEX.PHP ==================== */
/*  TITULAR SECTION  */
.index_page .titular_section {
    height: 860px;

    background-image: url('img/stuffedpals_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.index_page .titular_section,
.index_page .titular_section_card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_page .titular_section_card {
    flex-direction: column; 

    width: 600px;
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center; 
}
.index_page .titular_section_card h1, 
.index_page .titular_section_card h3, 
.index_page .titular_section_card span { 
    margin-right: 10px;
    margin-left: 10px;
}
.index_page .titular_section_card h3 {
    margin-top: 15px;
    margin-bottom: 15px; 
}
.index_page .titular_section_card span {
    font-weight: 800;
    font-size: 55px;
}

.index_page .text_slider {
    overflow: hidden;
    height: 60px; 

    margin-bottom: 5px;
}

.index_page .text_slider_element {
    position: relative; 

    animation: text-animation 10s ease infinite;
}
.index_page .text_slider_element span {
    display: block;
    height: 45px;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--default-color); 

    line-height: 45px;

}

@keyframes text-animation {
    0%, 100% { top: 0; }
    12.5% { top: 0; }
    25% { top: -60px;}
    37.5% { top: -60px;}
    50% { top: -120px; }
    62.5% { top: -120px;}
    75% { top: -60px; }
    87.5% { top: -60px;}
}

/* PRESENTATION SECTION */
.index_page .presentation_section,
.index_page .presentation_section_list,
.index_page .presentation_section_list_element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_page .presentation_section {
    gap: 60px;
    padding-top: 40px;
    padding-bottom: 30px;

    text-align:left;
}

.index_page .presentation_section_container span {
    display: inline-block;
    margin-top: 15px; 
    margin-bottom: 15px;
}

.index_page .presentation_section_description {
    width: 375px;
    height: 325px;
}
.index_page .presentation_section_description .hyperlink_button_purple {
    margin-top: 15px;
}


.index_page .presentation_section_list,
.presentation_section_list_element {
    width: 400px;
}
.index_page .presentation_section_list,
.index_page .presentation_section_list_element {
    align-items: flex-end;
}

.index_page .presentation_section_list {
    flex-direction: column;
    gap: 30px;
    margin-top:5px;
}
.index_page .presentation_section_list_element {
    gap: 16px;
}
.index_page .presentation_section_list_element img {
    width: 64px;
}
.index_page .presentation_section_list_element_text {
    width: 336px;
}
.index_page .presentation_section_list_element_text h3,
.index_page .presentation_section_list_element_text span  {
    margin:0px;
}
.index_page .presentation_section_image {
    height: 300px;
}

/* TUTORIAL SECTION */
.index_page .tutorial_section,
.index_page .tutorial_section_steps,
.index_page .tutorial_section_steps_element {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.index_page .tutorial_section {
    padding-top: 30px;
    padding-bottom: 30px;
}
.index_page .tutorial_section_steps {
    gap: 120px;
    margin-top: 40px;
}

.index_page .tutorial_section,
.index_page .tutorial_section_steps_element {
    flex-direction: column;
}
.index_page .tutorial_section_steps_element {
    width: 250px;
    height: 300px;
}
.index_page .tutorial_section_steps_element img {
    margin-bottom: 10px;
}

/* CATEGORY SECTION */
.index_page .category,
.index_page .category_section,
.index_page .category_section_categories {
    display: flex;
    justify-content: center;
    align-items: center;
}
.index_page .category_section {
    flex-direction: column;

    padding-top: 60px;
    padding-bottom: 60px;
}

.index_page .category_section_categories {
    gap: 65px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.index_page .category_section_categories_element {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.index_page .category_section_categories_element img {
    width: 100%;
    margin-top: 30px;

    transition: transform 0.5s ease-out, margin-top 0.5s ease-out;
}

.index_page .category_section_categories_element:hover img {
    margin-top: 10px;

    transform: scale(1.1);
}

.index_page .category_section_categories_element a {
    position: absolute;
    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);
}

/* ==================== ABOUT_US.PHP ==================== */
/*  TITULAR SECTION  */
.aboutus_page .titular_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 600px;
    padding-top: 30px;
    padding-bottom: 30px;

    background-image: url('img/stuffedpals_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.aboutus_page .titular_section_container {
    width: 600px;
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
}
.aboutus_page .titular_section_container h3 {
    margin-right: 10px;
    margin-left: 10px;
}
/* WHO WE ARE SECTION */
.aboutus_page .whowerare_section,
.whoweare_section_container_element {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.aboutus_page .whowerare_section {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}
.aboutus_page .whowerare_section {
    text-align: center;
}
.aboutus_page .whoweare_section_description {
    width: 1200px;
}
.aboutus_page .whoweare_section_container {
    padding-top: 40px;
    padding-bottom: 30px;
}

.whoweare_section_container_element {
    gap: 30px;
    width: 1200px;

    text-align: left;
}
.whoweare_section_container_element img {
    width: 400px;
    height: 400px;
}

/* OUR MISSION SECTION */
.aboutus_page .ourmission_section,
.aboutus_page .ourmission_section_container,
.aboutus_page .ourmission_section_element {
    display: flex;
    justify-content:center;
    align-items: center;
}
.aboutus_page .ourmission_section {
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.aboutus_page .ourmission_section_container {
    align-items:baseline;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.aboutus_page .ourmission_section_element {
    flex-direction: column;
    width: 380px;
    height: 400px;
    padding: 15px 10px 5px 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

    text-align: center;

    transition: transform 0.5s ease-out; 
}
.aboutus_page .ourmission_section_element span {
    height: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aboutus_page .ourmission_section_element img {
    width: 64px;
    margin: 15px;
}

.aboutus_page .ourmission_section_element:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

    transform: translateY(-10px); 
}

/* OUR TEAM SECTION */
.ourteam_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
    gap: 15px;
}
.ourteam_section_description {
    width: 1000px;

    text-align: center;
}

.ourteam_section_container {
    overflow: hidden;

    width: 1000px;
    height: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#ourteam_section_slider {
    position: relative;

    display:flex;
    width: 3000px;

    transition: 0.5s ease-in;
}

.ourteam_section_slider_element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 1000px;
    height: 350px;
}

.ourteam_section_slider_element img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.ourteam_section_indicator_button {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 5px;

    background-color: var(--secondary-color);

    cursor: pointer;
    transition: 0.25s ease-in;
}
.ourteam_section_indicator_button:hover {
    background-color: var(--primary-color);
}
.active {
    width: 45px;
}


/* ==================== NEWSLETTER_THANKYOU.PHP / NEWSLETTER_ALREADYSUBSCRIBED.PHP ==================== */
.newsletter_first_section,
.newsletter_first_section_card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter_first_section {
    width: 100%;
    height: 500px;
    padding-top: 80px;
}

.newsletter_first_section_card {
    flex-direction: column;  
    width: 600px;
    height: 250px;

    text-align: center;
}

/* ==================== NEWSLETTER ==================== */
.newsletter, 
.newsletter_container, 
.newsletter_container_form,
.newsletter_container_form label[for="consent"]  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter {
    padding-top: 100px;
    padding-bottom: 100px;
}
.newsletter_container {
    gap: 20px;
    width: 800px;
    height: 300px;
}
.newsletter_container_description {
    width: 300px;
}
.newsletter_container_form {
    align-items: flex-start;
    flex-direction: column;
    width: 380px;
}
.newsletter_container_form input[type="email"] {
    width: 325px;
    height: 40px;
}

.newsletter_container_form input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0px;
}

.newsletter_container_form label[for="consent"] {
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* ==================== FOOTER ==================== */
footer {
    width: 100%;
}
footer h3 {
    color: var(--primary-color);
}

.footer_information {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
    height: 200px;
    padding-top: 30px;
}

/* Footer Description */
.footer_description,
.footer_description img,
.footer_description a {
    width: 300px;
}

.footer_description {
    height: 200px;
}

.footer_description h4 {
    width: 295px;
    height: 140px;
    margin: 10px 0 0 5px;
}

/* Footer Shop and Customer Service */
.footer_category {
    width: 230px;
    height: 140px;
}
.footer_category h3,
.footer_category h4 {
    height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.footer_category h4 {
    margin-top: 10px;
}

/* Footer Author */
.footer_author {
    height: 50px;
    padding-bottom: 10px;
    margin-top: 10px;

    text-align: center;
}